 {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #fff;
}

.card {
  position: relative;
  width: 450px;
  height: auto;
  min-height: 400px;
  background: #fff;
  box-shadow: 15px 15px 60px rgba(0, 0, 0, 0.15);
  padding: 20px;
}

.card .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card .top .userDetails {
  display: flex;
  align-items: center;
}

.card .top .userDetails .profile_img {
  position: relative;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 8px;
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .top .userDetails h3 {
  color: #4d4d4f;
  font-weight: 500;
  margin: 0px;
}

.blue {
  color: #56a0d3;
}

.card .top .userDetails h3 span {
  font-size: 0.75em;
}

.dot {
  transform: scale(0.4);
  cursor: pointer;
}

.imgBx {
  position: relative;
  width: 100%;
  height: 320px;
  margin: 10px 0 15px;
}

.actionBtns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.actionBtns img {
  max-width: 24px;
  cursor: pointer;
}

.actionBtns .left img {
  display: flex;
  margin-right: 8px;
}

.left {
  display: flex;
}

.number {
  display: flex;
  margin-right: 20px;
  font-size: 0.75em;
  align-items: center;
}

.down {
  transform: scale(0.5);
}

.comment {
  margin-top: 10px;
}

.gray {
  color: #dedcdc;
}

.button {
  margin-top: 5px;
  background: #2e59f2;
  padding: 5px;
  color: #fff;
  border-radius: 10%;
  cursor: pointer;
  border-color: white;
  box-shadow: none;
  margin-left: 40px;
}

.top1 {
  margin-top: 30px;
}
